{% extends 'base/base.html' %}
{% load widget_tweaks %}


{% block title %}
    Registrar Perfil
{% endblock title %}
    

{% block body %}
<form action="#" method="post" enctype="multipart/form-data">{% csrf_token %}
    <div class="card">
        <div class="card-header">
            <strong>Registro de Usuarios</strong> 
        </div>
        <div class="card-body card-block">
            
            {% if messages %}
                {% for message in messages %}
                    <div class="sufee-alert alert with-close alert-success alert-dismissible fade show">
                        <span class="badge badge-pill badge-success">Exito!</span>
                        {{ message }}.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}

            <div class="row g-2 mb-3">
                <div class="col">
                    <div class="input-group">
                        <div class="col-5">
                            <label for="">Nacionalidad</label>
                            {{form.nacionalidad|add_class:'form-control'|attr:'required'}}
                        </div>
                        <div class="col-7">
                            <label for="">Cedula</label>
                            {{form.cedula|add_class:'form-control'|attr:'required'}}
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group">
                        <div class="col-6">
                            <label for="" class="form-control-label">Nombres</label>
                            {{form.nombres|add_class:'form-control'|attr:'required'}}
                        </div>
                        <div class="col-6">
                            <label for="">Apellidos</label>
                            {{form.apellidos|add_class:'form-control'|attr:'required'}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-2 mb-3">
                <div class="col">
                    <div class="input-group">
                        <div class="col-5">
                            <label for="">Fecha de nacimiento</label>
                            {{form.f_nacimiento|add_class:'form-control'|attr:'required'|attr:'type:date'}}
                        </div>
                        <div class="col-7">
                            <label for="">Teléfono</label>
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <div class="btn-group">
                                        {{form.codigo_tlf|add_class:'form-control'|attr:'required'}}
                                    </div>
                                </div>
                                {{form.telefono|add_class:'form-control'|attr:'required'}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group">
                        <div class="col-6">
                            <label for="">Genero</label>
                            {{form.genero|add_class:'form-control'|attr:'required'}}
                        </div>
                        <div class="col-6">
                            <label for="">¿Está embarazada?</label> <br>
                            <div class="form-check-inline form-check">
                                <label for="inline-radio1" class="form-check-label mr-3">
                                    <input type="radio" id="inline-radio1" required name="embarazada" value="True" class="form-check-input deshabilitar">Sí
                                </label>
                                <label for="inline-radio2" class="form-check-label ">
                                    <input type="radio" id="inline-radio2" required name="embarazada" value="False" class="form-check-input deshabilitar">No
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col g-2">
                    <div class="input-group">
                        <div class="col-4">
                            <label for="">Correo</label>
                            {{form.email|add_class:'form-control'|attr:'required'}}
                        </div>
                        <div class="col-4">
                            <label for="">Zona</label>
                            {{form.zona|add_class:'form-control'|attr:'required'}}
                        </div>
                        <div class="col-4">
                            <label for="">Constancia de residencia</label>
                            {{form.c_residencia|add_class:'form-control'}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="">Ubicación</label>
                    {{form.direccion|add_class:'form-control'|attr:'style:resize:none'|attr:'rows:3'|attr:'required'}}
                </div>
            </div>
            <hr>
            <div class="row mb-3">
                <div class="input-group">
                    <div class="col">
                        <label for="">Rol en el sistema</label>
                        {{form.rol|add_class:'form-control'|attr:'required'}}
                    </div>
                    <div class="col">
                        <div class="input-group">
                            <div class="col-6">
                                <label for="">Definir contraseña</label>
                                {{form.password1|add_class:'form-control'|attr:'required'}}
                            </div>
                            <div class="col-6">
                                <label for="">Confirmar contraseña</label>
                                {{form.password2|add_class:'form-control'|attr:'required'}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-check-inline form-check">
                <label for="inline-checkbox1" class="form-check-label ">
                    <input type="checkbox" id="inline-checkbox1" name="is_active" value="True" class="form-check-input">Activar usuario
                </label>
            </div>
            {{form.usuario}}
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-sm">
                <i class="fa fa-dot-circle-o"></i> Guardar
            </button>
            <button type="button" class="btn btn-danger btn-sm">
                <i class="fa fa-ban"></i> Cancelar
            </button>
        </div>
    </div>
</form>

{% endblock body %}


{% block extrajs %}
<script>
    $(document).ready(function () {
        $('#id_genero').change(function () {
            if ($(this).val() == "MA") {
                // Deshabilitar checkboxes
                $('.deshabilitar').prop('disabled', true);
                $('#inline-radio2').prop('checked', true)
            } else {
                // Habilitar checkboxes
                $('.deshabilitar').prop('disabled', false);
            }
        }).trigger('change'); // Trigger para establecer el estado inicial
    });
</script>
{% endblock extrajs %}
    
    