{% extends 'base/base.html' %}
{% load widget_tweaks %}

{% block body %}
<form action="#" method="post" enctype="multipart/form-data">{% csrf_token %}
    <div class="card">
        <div class="card-header">
            <strong>Registro de Usuarios</strong> 
        </div>
        <div class="card-body card-block">
            
            <div class="row g-2 mb-3">
                <div class="col">
                    <div class="input-group">
                        <div class="col-5">
                            <label for="">Nacionalidad</label>
                            {{form.nacionalidad|add_class:'form-control'}}
                        </div>
                        <div class="col-7">
                            <label for="">Cedula</label>
                            <input type="text" name="cedula" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group">
                        <div class="col-6">
                            <label for="" class="form-control-label">Nombres</label>
                            <input type="text" name="nombres" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Apellidos</label>
                            <input type="text" name="apellidos" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-2 mb-3">
                <div class="col">
                    <div class="input-group">
                        <div class="col-5">
                            <label for="">Fecha de nacimiento</label>
                            <input type="date" name="f_nacimiento" class="form-control">
                        </div>
                        <div class="col-7">
                            <label for="">Teléfono</label>
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <div class="btn-group">
                                        <select name="codigo_tlf" id="" class="form-control" required>
                                            <option value="">----</option>
                                            <option value="0412">0412</option>
                                            <option value="0416">0416</option>
                                            <option value="0426">0426</option>
                                            <option value="0414">0414</option>
                                            <option value="0424">0424</option>
                                        </select>
                                    </div>
                                </div>
                                <input type="text" name="telefono" class="form-control" required maxlength="7" minlength="7">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group">
                        <div class="col-6">
                            <label for="">Genero</label>
                            {{form.genero|add_class:'form-control'}}
                        </div>
                        <div class="col-6">
                            <label for="">¿Está embarazada?</label> <br>
                            <div class="form-check-inline form-check">
                                <label for="inline-radio1" class="form-check-label mr-3">
                                    <input type="radio" id="inline-radio1" name="embarazada" value="True" class="form-check-input">Sí
                                </label>
                                <label for="inline-radio2" class="form-check-label ">
                                    <input type="radio" id="inline-radio2" name="embarazada" value="False" class="form-check-input">No
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col g-2">
                    <div class="input-group">
                        <div class="col-4">
                            <label for="">Correo</label>
                            <input type="email" name="email" id="" class="form-control">
                        </div>
                        <div class="col-4">
                            <label for="">Zona</label>
                            {{form.zona|add_class:'form-control'}}
                        </div>
                        <div class="col-4">
                            <label for="">Constancia de residencia</label>
                            <input type="file" name="c_residencia" id="" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="">Ubicación</label>
                    <textarea name="direccion" id="" cols="30" rows="3" class="form-control" style="resize: none;"></textarea>
                </div>
            </div>
            <hr>
            <div class="row mb-3">
                <div class="input-group">
                    <div class="col">
                        <label for="">Rol en el sistema</label>
                        {{form.rol|add_class:'form-control'}}
                    </div>
                    <div class="col">
                        <div class="input-group">
                            <div class="col-6">
                                <label for="">Definir contraseña</label>
                                <input type="password" name="password" id="" class="form-control">
                            </div>
                            <div class="col-6">
                                <label for="">Confirmar contraseña</label>
                                <input type="password" name="password1" id="" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-check-inline form-check">
                <label for="inline-checkbox1" class="form-check-label ">
                    <input type="checkbox" id="inline-checkbox1" name="is_active" value="True" class="form-check-input">Activar usuario
                </label>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-sm">
                <i class="fa fa-dot-circle-o"></i> Guardar
            </button>
            <button type="button" class="btn btn-danger btn-sm">
                <i class="fa fa-ban"></i> Cancelar
            </button>
        </div>
    </div>
</form>

{% endblock body %}
    